
.container {
  margin-top: 2rem;
  padding: 3rem;
  border: 2px solid #fff;
  border-radius: 5%;
  box-shadow: 4px 6px 8px 0 rgba(229, 226, 226, 0.986),
    6px 10px 20px 0 rgba(227, 223, 223, 0.97);
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 50px 10px 50px;
}

.name {
  font-size: 3rem;
  padding: 0.3rem;
  border-left: 4px solid #fff;
  padding-left: 2rem;
}

.character {
  margin: 0.5rem;
  background-color: #fff;
  color: #000;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.image {
  margin-top: 1.5rem;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .name {
    font-size: 2rem;
  }
  .character {
    font-size: 1rem;
  }
  .image {
    width: 100%;
  }
  .button-group {
    flex-direction: column;
  }
}
